<div id="container-instructions">

    <h1>Ready for experiment</h1>

    <hr />

    <div class="instructions well">

    <p> Your performance was <b><span id="reward">X</span>%.<p></b>
    <p> This means that if this was a real round, you'd get <b><span id="reward">XX</span>% of the maximum reward. 

    </p></b>

        <p>Click <i>Begin experiment</i> button to start a round of <b><span id="total_trials">X</span> trials</b> (XX min. aprox) for up to a <b>$<span id="max_reward">XX</span></b> reward. After the first round is completed, each extra round has its maximum reward increased by <b>$XX</b>. You can continue for as much rounds as you want, as long as your performance is at least as good as the best 67%.</p>

        <p> Remember that you can abort the experiment at any time, but your maximum reward will be decreased by $XX relative to if you completed the full experiment.
        </p>

        <p>
            This is the last page before the full experiment. 
        </p>
        

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <center>
                    <button type="button" id="repeat" value="repeat" class="btn btn-primary btn-lg continue">
                    Repeat training <span class="glyphicon"></span>
                    </button>
                </center>
            </div>
            <div class="col-xs-8">
                <center>
                    <button type="button" id="begin" value="next" class="btn btn-success btn-lg continue">
                    Begin experiment <span class="glyphicon"></span>
                    </button>
                </center>
            </div>
            <div class="col-xs-2">

            </div>
        </div>
    </div>

</div>
