<div id="container-instructions">

    <h1>Ready for experiment</h1>

    <hr />

    <div class="instructions well">

    <p> Your performance was <span id="performance">X</span>.<p>
    <p> Would this be a real round, you'd get <span id="reward">XX</span>% of the maximum reward. </p>
        <p>
            This is the last page before the full experiment. 
        </p>

        <p>Click <i>Begin experiment</i> button to start a round of 15 trials for up to a $<span id="max_reward">XX</span>  reward. After the first round is completed, each extra round has an extra bonus of $XX. You can continue for as much rounds as you want, as long as your performance is at least as good as the best 67%.
        </p>
        

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <center>
                    <button type="button" id="repeat" value="repeat" class="btn btn-primary btn-lg continue">
                    Repeat training <span class="glyphicon"></span>
                    </button>
                </center>
            </div>
            <div class="col-xs-8">
            	<center>
	                <button type="button" id="begin" value="next" class="btn btn-success btn-lg continue">
	                Begin experiment <span class="glyphicon"></span>
	                </button>
	            </center>
            </div>
            <div class="col-xs-2">

            </div>
        </div>
    </div>

</div>
