<div id="container-colorblind">

    <hr />

	<input type="text" id="input" name="question0" >
    <h1>Colorblind Test</h1>
 

    <div class="instructions well">
    <h4>This experiment depends heavily on your ability to differentiate different colors. For this reason, color blind people do not qualify for this HIT.</h4>
    <h4>On each of the following white boxes, introduce the number you see on the picture. </h4>
    <h4> If you correctly recognize all numbers, you will be able to continue for the main experiment. Otherwise you will get the minimum reward HIT ($0.5).</h4>
    </div>

       <form id="color_test" method="post">
            <!-- beginning of a question -->
            <div id="question">

            </div>

        </form>
    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
                <button type="submit" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Submit <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>


</div>
