<div id="container-instructions">

    <h1>Round finished</h1>

    <hr />

    <div class="instructions well">

        <p>
            Thank you for completing this round. Your total reward is XX. Do you want to go for another round, where the maximum reward if increased to XX or do you want to submit your HIT? Remember you can't repeat HIT's.
        </p>

        <p>Click <i>Another round</i> button to go for the real experiment again finish by clicking on <i>Finish experiment</i>.
        </p>


        

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <center>
                    <button type="button" id="repeat" value="repeat" class="btn btn-primary btn-lg continue">
                    Another round<span class="glyphicon"></span>
                    </button>
                </center>
            </div>
            <div class="col-xs-8">
            	<center>
	                <button type="button" id="finish" value="next" class="btn btn-success btn-lg continue">
	                Finish experiment<span class="glyphicon"></span>
	                </button>
	            </center>
            </div>
            <div class="col-xs-2">

            </div>
        </div>
    </div>

</div>
