<div id="container-instructions">

    <h1>Don't forget to focus on the black box!</h1>

    <hr />

    <div class="instructions well">

        <p>
        The colors will then disapear for a few seconds. Nevertheless, remember that the the black box can turn red <b> at any point in the trial</b>. Do your best to click it <a href="https://www.youtube.com/watch?v=TJAfLE39ZZ8"><i>back to black</i></a>  as fast as you can to increase you final reward. When your succeed, that's called a <i>catch</i> and it will increase a final multiplier. Every <i>catch</i> that you miss will decrease this multiplier. 
        </p>

        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <center>
        <svg  width="800" height="400">
            <image id="catch" x="0" y="0" width="800" height="400" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="static/images/catch.png">
            </image
            >
        </svg>
    </center>
    
    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
