<div id="container-instructions">

    <h1>Begining of each trial</h1>

    <hr />

    <div class="instructions well">

        <p>
            On the beginin of each trial you need to reposition your mouse pointer on the central empty box. When the pointer is over the box, the trial will be initiated and the box can change color from black to red at any time. Remeber to focus on it for the whole trial duration in order to maximize reward. 
        </p>



        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <center>
        <svg  width="800" height="400">
            <image id="fixate" x="0" y="0" width="800" height="400" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="static/images/fixate.png">
            </image
            >
        </svg>
    </center>
    
    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
