<div id="container-instructions">

    <h1>Reward formula</h1>

    <hr />

    <div class="instructions well">

               <b>Formula used to compute bonus</b>

            <p></p> 

            <div>
                <svg  width="200" height="200">
                    <image id="formula" x="0" y="0" width="200" height="200" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="static/images/rwd_formula.png">
                    </image>
                </svg>
            </div>

            <i>p</i> measures the individual performance and it ranges from 0 to 1. This value is finally multiplied for the maximum bonus. If you have maximum performance, you will naturally get the maximum bonus. 

            


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>


    <hr />
    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
