<div id="container-instructions">

    <h1>Instructions for test</h1>

    <hr />

    <div class="instructions well">
        
       <b>Final test</b>
       <p></p>

        You will now see a set of of 6 very easy trials. Feel free to try out until you understand how the task works. When you completed the training at least once, you can start the real experiment.

       <p></p>
        Enjoy!
        </p>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!--  Maybe not previous button on this screen? -->
            	<!--
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            	-->
            </div>
            <div class="col-xs-8">
            	<center>
	                <button type="button" id="next" value="next" class="btn btn-success btn-lg continue">
	                Begin training <span class="glyphicon glyphicon-arrow-right"></span>
	                </button>
	            </center>
            </div>
            <div class="col-xs-2">

            </div>
        </div>
    </div>

</div>
