<div id="container-instructions">

    <h1>Report the correct color</h1>

    <hr />

    <div class="instructions well">

        <p>
            Finally, you will receive feedback. On the wheel you can see your report in a smaller circle and what was the correct color in a bigger circle. If this two were very distant from each other, your answer is considered incorrect (right panel) and you don't receive any additional bonus. If you got the correct color (left panel) your final reward will be increased with the corresponding amount shown on the screen in green text ($0.10, in the example). 

            <p></p> 

            Reward amounts depend on number of correct trials and increase with trial difficulty. 
            
            <p></p> 

        </p>

        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <center>
        <svg  width="800" height="400">
            <image id="feedback" x="0" y="0" width="800" height="400" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="static/images/feedback.png">
            </image
            >
        </svg>
    </center>

    <hr />
    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
