<div id="container-instructions">

    <h1>Black circles cues you the correct color.</h1>

    <hr />

    <div class="instructions well">

        <p>
            At the end of each trial, one of the gray circles turns black telling you the corresponding color you have to report on the color wheel. You can now move your mouse cursor to the color you recall from memory.
        </p>


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <center>
        <svg  width="400" height="400">
            <image id="report" x="0" y="0" width="400" height="400" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="static/images/report.png">
            </image
            >
        </svg>
    </center>
    
    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
