<div id="container-instructions">

    <h1>Pay attention to the colored circles. This is the most important part.</h1>

    <hr />

    <div class="instructions well">

        <p>
            <p>At this point you have to pay atention to <b>the color and location of a set of colored circles</b>. These circles will appear on the screen for a very brief period before turning gray or disapear completely. Try to not look directly at one of them to avoid missing features of some of the other circles. The best strategy is to focus on the center of the screen, even if you think this is conter productive. </li>
            <p></p>

         
        </ul>
        </p>


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

     <center>
        <svg  width="800" height="400">
            <image id="delay" x="0" y="0" width="800" height="400" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="static/images/delay_w_position.png">
            </image
            >
        </svg>
    </center>
    
    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
