<div id="container-instructions">

	<h1>Overall Instructions</h1>

	<hr />

	<div class="instructions well">
    <b>In order to maximize your reward, read carefully the instrutions.</b><p></p>

<p> You will be asked to perform a task which will probe your working memory capacity. It's been reported in the scientific literature that working memory capacity its highly correlated with IQ. Upon experiment termination, you will be told by email how was your performance relative to all the other participants. Do not feel demotivated if it gets too difficult as the number items increase,  it's suposed to be difficult. Nevertheless, remember that you get more money when answering correctly the more difficult trials.
</p>

<b>Short summary</b><p></p>

<p>
You will be briefly shown a set of colored circles at random locations. At the end of each trial, you will be ask to report the color of <b>one of the circles</b> by picking a color from a color wheel using your mouse. The best strategy is to focus on the black box and avoid loking directly to the circles. This will ensure you will attend to all the circles equally. 

<p>
More detailed instrutions will follow. On the following screens, you will see a simulation of the kind of trials you can expect to encounter. Each page corresponds to a step on the real HIT but bare in mind that in the real HIT they will hapend one of after the other with no pause except at the end of each trial. Further in the Instructions you will see the formula we use to compute the final reward.
</p>

<b>Final test</b><p></p>

<p>
Finally, before the actual HIT you will see a set of of 6 very easy trials. Feel free to try out until you understand how the task works.

</p>
	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
